<div class="wa-stack wa-gap-3xl">
  <div class="prose flow">
    <h1 class="center"><%= @course.title %> Course</h1>

    <h2 class="center">
      <%= @course.title %> Course's Segments
    </h2>
  </div>

  <div class="wa-grid">
    <%= render @segments %>
  </div>
</div>
