<div class="wa-stack wa-gap-3xl">
  <div class="prose flow">
    <h1 class="center">
      <%= @lesson.title %>
    </h1>

    <wa-button href="<%= korsarium_textbook_path(@lesson.textbook_id) %>">
      Back
    </wa-button>

    <wa-button href="<%= edit_korsarium_lesson_path %>">
      Edit Lesson
    </wa-button>

    <wa-button variant="danger">
      <%= link_to "Delete Lesson", korsarium_lesson_path, data: { turbo_method: :delete } %>
    </wa-button>
  </div>
</div>
