<wa-divider></wa-divider>

<h4>Korsarium</h4>

<wa-dropdown-item>
  <wa-button appearance="plain" href="<%= korsarium_users_path %>">Users
    <wa-icon slot="start" name="address-card"></wa-icon>
  </wa-button>
</wa-dropdown-item>

<wa-dropdown-item>
  <wa-button appearance="plain" href="<%= korsarium_courses_path %>">Courses
    <wa-icon slot="start" name="book-open-reader"></wa-icon>
  </wa-button>
</wa-dropdown-item>
