<nav slot="header">
  <%= link_to image_tag("korsarium-logo-transparent.png", alt: "Korsarium logo", size:"200"), root_path %>

  <div>
    <wa-button pill>
      Contact
    </wa-button>

    <wa-button pill>
      About
    </wa-button>

    <wa-button pill>
      Pricing
    </wa-button>
  </div>

  <div>
    <wa-button pill variant="brand" href="<%= sign_up_path %>">
      Sign Up
    </wa-button>

    <wa-button pill variant="brand" href="<%= new_session_path %>">
      Log In
    </wa-button>
  </div>
</nav>
