<div class="wa-stack wa-gap-3xl">
  <wa-button pill variant="brand" href="<%= course_path(@segment.course_id) %>" style="width: fit-content;">
    Back to Segments
  </wa-button>

  <div class="prose flow">
    <h2 class="center">
      Levels of <%= @segment.title %>
    </h2>
  </div>
</div>
