/*
SIDEBAR
More info: https://every-layout.dev/layouts/sidebar/

Utility classes to adjust the layout of the sidebar composition
*/

.sidebar-target-width-xs {
  --sidebar-target-width: 10em;
}

.sidebar-target-width-s {
  --sidebar-target-width: 25em;
}

.sidebar-target-width-m {
  --sidebar-target-width: 50em;
}

.sidebar-target-width-l {
  --sidebar-target-width: 100em;
}
