<%= turbo_frame_tag "segments" do %>
  <div>
    <h1>Segments</h1>

    <nav>
      <ul>
        <% @segments.each do |segment| %>
          <li><%= link_to segment.title, segment, data: {turbo_frame: "segment"} %></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <%= turbo_frame_tag "segment", src: segment_path(@selected_segment) %>
<% end %>
