<%= turbo_frame_tag "segments", class: "center flow inline-size-fit-content" do %>
  <div class="sidebar center sidebar-content-min-width-s">
    <h1 style="margin-block-start: 0;">Segments</h1>

    <nav class="cluster nav">
      <ul class="cluster" role="list">
        <% @segments.each do |segment| %>
          <li><%= link_to segment.title, segment, data: {turbo_frame: "segment"} %></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <%= turbo_frame_tag "segment", class: "center inline-size-fit-content", src: segment_path(@selected_segment) %>
<% end %>
