<%= turbo_frame_tag "segments" do %>
  <h1>Segments</h1>

  <nav>
    <ul>
      <% @segments.each do |segment| %>
        <li><%= link_to segment.title, segment, data: {turbo_frame: "segment"} %></li>
      <% end %>
    </ul>
  </nav>

  <%= turbo_frame_tag "segment", class:"center", src: segment_path(@selected_segment) %>
<% end %>
