<%= turbo_frame_tag "segments", class: "wa-stack wa-gap-3xl" do %>
  <div class="center">
    <div class="wa-flank wa-gap-3xl" style="--content-percentage: 20%">
      <h1>Segments</h1>

      <wa-divider orientation="vertical"></wa-divider>

      <nav class="cluster wa-gap-3xl">
        <% @segments.each do |segment| %>
          <%= link_to segment.title, segment, data: {turbo_frame: "segment"} %>
        <% end %>
      </nav>
    </div>
  </div>

  <wa-divider style="--color: black;"></wa-divider>

  <%= turbo_frame_tag "segment", src: segment_path(@selected_segment) %>
<% end %>
