<%= turbo_frame_tag "segments" do %>
  <div>
    <h1>Segments</h1>

    <nav class="nav">
      <% @segments.each do |segment| %>
        <%= link_to segment.title, segment, data: {turbo_frame: "segment"} %>
      <% end %>
    </nav>
  </div>

  <%= turbo_frame_tag "segment", src: segment_path(@selected_segment) %>
<% end %>
