<header slot="main-header" class="wa-stack">
  <h1>Decrease your body fat by 10% and increase your muscle mass by 10%.</h1>

  <h2>Your family won't be able to stop telling you how amazing you look.</h2>

  <wa-button style="width: fit-content;">Chat with a representative today!</wa-button>
</header>

<main>
</main>
