<header slot="main-header">
  <h1>
    Decrease your body fat by 10%, increase your muscle mass by 10%, and your family won't be able to stop telling
    you how great you look.
  </h1>

  <h1>You Don't Need More Motivation. You Need a System.</h1>

  <h2>
    Learn and implement daily habits that restore strength, reduce fatigue, and make physical health automatic.
    With Korsariums progressive levels you'll be able to stay consistent.
  </h2>
</header>
