<header>
  <h1>
    An Online Course With Step-By-Step Directions To Make Losing
    Weight Simple
  </h1>

  <h2>Helping you achieve and keep the body you've always wanted.</h2>
</header>

<section>
  <h1>Losing Weight Is Not Easy</h1>

  <p>
    It takes a lot of effort to lose weight and maintain the body you
    want, and when all that effort gets you minimal results it can be
    demotivating and stressful.
  </p>

  <p>
    You may even start to think that it's impossible for you to
    have the body you want, that you have to spend thousands of
    dollars on miracle programs, or that you just don't have the time.
  </p>

  <p>
    Korsarium is here to tell you that you're not alone, we
    understand your struggle and while we can't make losing weight
    and keeping it off easy (anyone that says they can is lying), we
    can give you all the
    guidance and information you need in a simple-to-follow course.
  </p>

  <p>
    If you've tried diets and exercise that haven't gotten you the
    results you wanted, it's because you haven't been given the full
    picture, with the physical health course by Korsarium you'll
    learn where you should really start and how to progress.
  </p>

  <p>
    It's important to remember, just because it's simple doesn't mean
    it's easy. Start your free trial of our course today and see what
    we're all about.
  </p>
</section>

<section>
  <h1>Finally Get All The Components On How To Lose Weight In One
    Place
  </h1>

  <p>
    Save Time & Money - All the information you need is progressively
    laid out for you.
  </p>

  <p>
    Avoid Confusion - No more conflicting information between
    different sources.
  </p>

  <p>
    Sustainable Results - Get timeless information, strategies, and
    techniques, not the latest extreme fad.
  </p>
</section>

<!--
"The Guide Section" - Marketing Made Simple by Donald Miller

A section for empathy and authority to show the potential client that
we understand their struggle and provide them with testimonials and
proof that our course works.
-->

<section>
  <h1>Losing Weight Becomes Simple When You Have The Full Picture</h1>

  <h2>(remember though, simple isn't the same as easy)</h2>

  <ol>
    <li>Start Your Free Trial</li>

    <p>
      Free truly means free, we don't ask for a credit card so there's
      no risk for the trial.
    </p>

    <li>Follow The Course</li>

    <p>
      Learn step-by-step the actions you need to take to lose weight
      effectively.
    </p>

    <li>Buy The Course</li>

    <p>
      At the end of the free trial, purchase the course for lifetime
      access so there's no need to rush through it.
    </p>

    <li>Live Your Best Life</li>

    <p>With uncertainty and frustration about weight loss removed,
      enjoy the body you've always wanted.
    </p>
  </ol>
</section>

<section>
  <h1>We Understand, And We're Here To Help You</h1>

  <p>
    At Korsarium we know how important it is to look and feel
    your absolute best. To there, all you need is the proper
    directions so
    you can take the necessary actions. The problem is there's so much
    information, diets, tips & tricks, 30-day challenges, etc. that
    you don't even know where to begin. Even if you have tried any or
    all of the above, the results are minimal or unsustainable,
    leading to frustration and doubt that it's possible to achieve and
    maintain your dream body. We believe that everyone deserves to be
    happier and healthier without having to be an expert nutritionist
    or workout for hours on end every day. The world doesn't make it
    simple with misleading and exaggerated claims, followed by the
    necessary information being scattered all over the internet. We
    totally get it. That's why we've created our physical health
    course to be an all-in-one guide that's neatly structured into
    modules, lessons, and sections. All the information you need is
    laid out in an order that helps you maximize getting and
    maintaining results. With our free trial you get the whole course
    to see exactly what we mean about how simple weight loss can be.
    We don't even request your credit card information for the free
    trial because we want it to be as simple as possible for you to
    get started. Soooooo start your free trial, follow the course, and
    live your best life. You won't miss the frustration, confusion,
    and cycle of unsustainable effort once you've implemented the
    lessons from the course, looking and feeling your best.
  </p>
</section>
