<%= turbo_frame_tag "lesson" do %>
  <wa-card>
    <div class="flow" style="--inline">
      <h1 class="center">Edit <%= @lesson.title %></h1>

      <%= render "form", lesson: @lesson %>

      <wa-button pill class="center" href="<%= lesson_path(@lesson) %>">Cancel</wa-button>
    </div>
  </wa-card>
<% end %>
