<%= turbo_frame_tag "lessons" do %>
  <div>
    <h1>Lessons</h1>

    <nav>
      <ul>
        <% @lessons.each do |lesson| %>
          <li><%= link_to lesson.title, lesson, data: {turbo_frame: "lesson"} %></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <%= turbo_frame_tag "lesson", src: lesson_path(@selected_lesson) %>
<% end %>
