<%= turbo_frame_tag "lessons" do %>
  <h3><u>Lessons</u></h3>

  <ul>
    <% @lessons.each do |lesson| %>
      <li><%= link_to lesson.title, lesson, data: {turbo_frame: "lesson"} %></li>
    <% end %>
  </ul>

  <%= turbo_frame_tag "lesson", src: lesson_path(@selected_lesson) %>
<% end %>
