<%= turbo_frame_tag "lessons" do %>
  <div>
    <h1>Lessons</h1>

    <nav>
      <% @lessons.each do |lesson| %>
        <%= link_to lesson.title, lesson, data: {turbo_frame: "lesson"} %>
      <% end %>
    </nav>
  </div>

  <%= turbo_frame_tag "lesson", src: lesson_path(@selected_lesson) %>
<% end %>
