<%= turbo_frame_tag "lessons" do %>
  <h1>Lessons</h1>

  <nav>
    <% @lessons.each do |lesson| %>
      <%= link_to lesson.title, lesson, data: {turbo_frame: "lesson"} %>
    <% end %>
  </nav>

  <%= turbo_frame_tag "lesson", src: lesson_path(@selected_lesson) %>
<% end %>
