<%= turbo_frame_tag "lesson" do %>
  <wa-card>
    <div class="flow" style="--inline">
      <h1 class="center">New Lesson</h1>

      <%= render "form", lesson: @lesson %>

      <wa-button pill class="center" href="<%= segment_lessons_path(@segment) %>" data-turbo-frame="lessons">
        Cancel
      </wa-button>
  </wa-card>
<% end %>
