:root {
  /* FONTS ================================================================================================================= */
  --font-family-base: "Satoshi", "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  --font-family-mono: "DM Mono", monospace;

  /* FONT SIZES ============================================================================================================ */
  --font-size-3xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --font-size-2xs: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --font-size-xs: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --font-size-s: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --font-size-m: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --font-size-l: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --font-size-xl: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --font-size-2xl: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --font-size-3xl: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

  /* FONT WEIGHTS ========================================================================================================== */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* LINE HEIGHTS ========================================================================================================== */
  --line-height-xs: 0.85;
  --line-height-s: 1;
  --line-height-m: 1.2;
  --line-height-l: 1.4;
  --line-height-xl: 1.7;

  /* SPACING =============================================================================================================== */
  /* Individual Space Values */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* 1 Up Space Value Pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* 3 Up Space Value Pairs */
  --space-3xs-s: clamp(0.3125rem, -0.071rem + 1.7045vw, 1.25rem);
  --space-2xs-m: clamp(0.5625rem, 0.0256rem + 2.3864vw, 1.875rem);
  --space-xs-l: clamp(0.875rem, 0.2102rem + 2.9545vw, 2.5rem);
  --space-s-xl: clamp(1.125rem, 0.0511rem + 4.7727vw, 3.75rem);
  --space-m-2xl: clamp(1.6875rem, 0.3324rem + 6.0227vw, 5rem);
  --space-l-3xl: clamp(2.25rem, 0.1023rem + 9.5455vw, 7.5rem);

  /* COLORS ================================================================================================================ */
  --color-primary: #fccd26;
  --color-dark: #171406;
  --color-dark-glare: #2d2816;
  --color-mid: #ABA9A2;
  --color-light: #ffffff;
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* BREAKPOINTS =========================================================================================================== */
  --breakpoint-s: 330px;
  --breakpoint-m: 760px;
  --breakpoint-l: 940px;
  --breakpoint-xl: 1350px;

  /* MEASURES ============================================================================================================== */
  --measure-xs: 45ch;
  --measure-s: 55ch;
  --measure-m: 65ch;
  --measure-l: 75ch;
  --measure-xl: 85ch;

  /* BORDERS =============================================================================================================== */
  /* Widths */
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 3px;
  --border-width-xl: 5px;

  /* Radii */
  --border-radius-xs: 0.2rem;
  --border-radius-s: 0.75rem;
  --border-radius-m: 1.0rem;
  --border-radius-l: 1.5rem;
  --border-radius-xl: 2.5rem;

  /* INLINE SIZES ========================================================================================================== */
  --inline-size-s: 25em;
  --inline-size-m: 50em;
  --inline-size-l: 75em;
}
