<%= turbo_frame_tag "levels" do %>
  <h3>Levels</h3>

  <ul>
    <% @levels.each do |level| %>
      <li><%= link_to level.title, level, data: {turbo_frame: "level"} %></li>
    <% end %>
  </ul>

  <%= turbo_frame_tag "level", src: level_path(@selected_level) %>
<% end %>
