<%= turbo_frame_tag "levels" do %>
  <h1>Levels</h1>
  <% @levels.each do |level| %>
    <%= link_to level.title, level, data: {turbo_frame: "level"} %>
  <% end %>
  <%= turbo_frame_tag "level", src: level_path(@selected_level) %>
<% end %>
