<div class="wa-stack wa-gap-3xl">
  <wa-button pill variant="brand" href="<%= segment_path(@level.segment_id) %>" style="max-width: fit-content;">
    Levels
  </wa-button>

  <h1 class="center">Library</h1>

  <div class="wa-grid">
    <%= render @textbook %>
  </div>
</div>
