<div class="wa-stack">
  <h1 class="center">Korsarium</h1>
  <p class="center">/koːrser.i.əm/</p>
  <p class="center"><em>noun</em></p>
  <p class="center">a place specified for courses</p>
</div>

<% @courses.each do |course| %>
  <%= image_tag course.course_icon if course.course_icon.attached? %>

  <%= course.title %>
  <%= course.subtitle %>

  <%= link_to "Enter", course %>
<% end %>
