<header class="stack stack--centered">
  <h1>Korsarium</h1>
  <span>/koːrser.i.əm/</span>
  <em>noun</em>
  <p>a place specified for courses</p>
</header>

<div class="stack">
  <h2 class="stack stack--centered">Start learning by selecting a course below!</h2>

  <div class="card-table">
    <% @courses.each do |course| %>
      <article class="card">
        <div class="card__header">
          <figure class="card__figure">
            <img class="card__image" src="#" alt="#">
          </figure>
        </div>

        <div class="card__body">
          <h2 class="card__title">
            <%= course.name %>
          </h2>
          <h3 class="card__subtitle">
            Subtitle Placeholder
          </h3>
          <p class="card__copy">
            <%= course.description %>
          </p>
        </div>

        <footer class="card__footer">
          <div class="card__actions">
              <%= link_to "Select Course", course_path(course), class: "card__link" %>
          </div>
        </footer>
      </article>
    <% end %>

    <article class="card">
      <div class="card__header">
        <figure class="card__figure">
          <img class="card__image" src="#" alt="#">
        </figure>
      </div>

      <div class="card__body">
        <h2 class="card__title">
          New Course
        </h2>
        <h3 class="card__subtitle">
          Subtitle Placeholder
        </h3>
        <p class="card__copy">
          Create your own course!
        </p>
      </div>

      <footer class="card__footer">
        <div class="card__actions">
          <%= link_to "Create a New Course", new_course_path, class: "card__link" %>
        </div>
      </footer>
    </article>
  </div>


</div>




