<h1>Korsarium</h1>
<p>/koːrser.i.əm/</p>
<p><em>noun</em></p>
<p>a place specified for courses</p>

<% @courses.each do |course| %>
  <%= image_tag course.course_icon if course.course_icon.attached? %>

  <%= course.title %>
  <%= course.subtitle %>

  <%= link_to "Enter", course %>
<% end %>
