<div class="wa-stack wa-gap-3xl">
  <div class="prose flow">
    <h2 class="center">
      Segments of <%= @course.title %>
    </h2>

    <wa-divider></wa-divider>

    <p>A Segment is a focused path of growth broken up into 3 levels. Instead of trying to change everyting at once,
    Segments help you concentrate on and progress through one powerful area at a time withouth gettin overwhelmed.</p>

    <p>Each Segment blends clear guidance, practical exercises, and personal reflection to create sustainable change.
    The point is not to just learn new ideas, but build awareness, skills, and most importantly habits into
    your daily life. Level by level, each Segment moves you closer to feeling stronger, healthier, and more energized.</p>

    <p>The Segments are arranged in the order we believe delivers the greatest overall results so we highly recommend
    you complete each segment in order from left to right.</p>
  </div>

  <div class="wa-grid">
    <%= render @segments %>
  </div>
</div>
