.nav {
  margin: 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav__container {
  max-width: 700px;
  padding: 16px 32px;
  border: 2px dashed black;
  border-radius: 48px;
  display: flex;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
}

.nav__content--lessons {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 12px;
  flex-wrap: wrap;
}

.nav__content > h1, h2, h3, h4, p {
  margin:0
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__list--lessons {
  flex-direction: column;
}

.nav__link {
  text-decoration: none;
}

.nav__button {
  padding: 4px 8px;
  background: none;
  border: 1px solid black;
  border-radius: 48px;
  text-decoration: none;
}
